.Cover {
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputGroup {
  margin-top: 20px;
  text-align: center;
}
.SearchForm {
  border-radius: 5px;
}
.select {
  color: #001529;
  padding: 6px 10px;
  margin-top: 10px;
}
.btn-showMore{
  font-size: 15px;
  padding: 5px 10px;
}

@media screen and (min-width: 800px) {
  .Cover {
    justify-content: space-around;
    align-items: stretch;
  }
  .select {
    margin-top: 0;
    margin-left: 10px;
  }
  .btn-showMore {
    font-size: 18px;
    padding: 8px 15px;
  }
}
@media screen and (min-width: 1100px) {
  .btn-showMore {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 18px;
    margin-bottom: 20px;
  }
}