.iCom {
  background-color: #000;
  height: 50vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.iCom-heading {
  margin-bottom: 0;
  font-size: 20vw;
  color: transparent;
  display: flex;
}
.iCom-heading span {
  animation: animateSpan 3s linear infinite;
  animation-delay: 0.1s*var(--i);
}
@media screen and (min-width: 1100px) {
  .iCom {
    height: 100vh;
  }
}
@keyframes animateSpan {
  0% {
    color: #fff;
    filter: blur(2px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 300px #00b3ff;
  }
  30%,
  70% {
    color: #fff;
    filter: blur(2px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
  }
  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(2px) hue-rotate(0deg);
  }
}
